name: Main

on: push

jobs:
  build:
    name: Build
    runs-on: windows-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.2

      - name: Set values
        run: |
          Write-Host "::set-env name=value1::strawberry"
          Write-Host "::set-env name=value2::orange"
      
      - name: Read values
        run: |
          Write-Host "Value 1 is: ${{env.value1}}"
          Write-Host "Value 2 is: ${{env.value2}}"
